<section class="about">
  <div class="container-about">
    <p>{{'hola' | translate }} <strong>soy Daniela,</strong> Tengo experiencia en Desarrrollo Frontend (Angular) y Backend (NodeJs y NestJS). Soy apasionada por la tecnologia y siempre estoy aprendiendo algo nuevo y creando proyectos personales.</p>
    <a href ="">{{'irAProjects' | translate}}</a>
  </div>
  <div class="skills">
    <div id="center">
      <i class="fa-brands fa-html5 html"></i>
      <div class="iconCircle" id="iconCss">
        <i class="fa-brands fa-css3-alt css"></i>
      </div>
      <div class="iconCircle" id="iconJs">
        <i class="fa-brands fa-js javascript"></i>
      </div>
      <div class="iconCircle" id="iconNodeJs">
        <i class="fa-brands fa-node-js nodejs"></i>
      </div>
      <div class="iconCircle" id="iconGit">
        <i class="fa-brands fa-git-alt git"></i>
      </div>
      <div class="iconCircle" id="iconJava">
        <i class="fa-brands fa-java css"></i>
      </div>
      <div class="iconCircle" id="iconAngular">
        <i class="fa-brands fa-angular angular"></i>
      </div>
      <div class="iconCircle" id="iconSass">
        <i class="fa-brands fa-sass sass"></i>
      </div> 
      
    </div>
    
    
    
    
   
    
    
  </div>
</section>
