/* :root {
  --Green-dark: rgb(0, 108, 117);
  --Green-soft: rgb(130, 196, 191);
  --My-white: hsl(195, 50%, 95%);
  --Salmon-soft: hsl(15, 100%, 91%);
  --Salmon-dark: hsl(16, 65%, 68%);
}
 */


/* header.dark-theme {
  border: 1px var(--shadow-color) solid;
} */

.header:hover {
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,108,117,0.72);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,108,117,0.72);
  box-shadow: 0px 0px 8px 1px rgba(0,108,117,0.72);
  transition: .5s;
}

.dflexjcac {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70px;
}

.logotipo {
  display: flex;
  align-items: center;
  color: rgb(0, 108, 117);
  font-size: 18px;
  font-weight: 700;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.options img {
  width: 30px;
}

.btnDarkTheme{
  border: none;
  background-color: transparent;
}