<section class="projects">
  <section class="container-projects">
    <section class="projectsPair">
      <div class="project">
        <h4>Water Blues</h4>
        <p>Sitio Web personal para un profesor de guitarra, da a conocer su suscripción, sus ventajas y beneficios.</p>
        <div class="projectSkills">
          <i class="fa-brands fa-js javascript"></i>
          <i class="fa-brands fa-html5 html"></i>
          <i class="fa-brands fa-css3-alt css"></i>
        </div>   
        <div class="overlay">
          <img class="img-overlay" src="assets/3.png" alt="">
        </div> 
      </div>
      <div class="project">
        <h4>Betabit</h4>
        <p>Landing Page para poner en practica maquetación Mobile First - Curso de Platzi.</p>
        <div class="projectSkills">
          <i class="fa-brands fa-js javascript"></i>
          <i class="fa-brands fa-html5 html"></i>
          <i class="fa-brands fa-css3-alt css"></i>
        </div>
        <div class="overlay">
          <img class="img-overlay" src="assets/1.png" alt="">
        </div> 
      </div>
    </section>
    <section class="projectsPair">
      <div class="project">
        <h4>Water Blues</h4>
        <p>Sitio Web personal para un profesor de guitarra, da a conocer su suscripción, sus ventajas y beneficios.</p>
        <div class="projectSkills">
          <i class="fa-brands fa-js javascript"></i>
          <i class="fa-brands fa-html5 html"></i>
          <i class="fa-brands fa-css3-alt css"></i>
        </div>
        <div class="overlay">
          <img class="img-overlay" src="assets/2.png" alt="">
        </div> 
      </div>
      <div class="project">
        <h4>Adopta un perrito</h4>
        <p>Landing page para adoptar un perrito bonito.</p>
        <div class="projectSkills">
          <i class="fa-brands fa-js javascript"></i>
          <i class="fa-brands fa-html5 html"></i>
          <i class="fa-brands fa-css3-alt css"></i>
        </div>
        <div class="overlay">
          <img class="img-overlay" src="assets/4.png" alt="">
        </div> 
      </div>
    </section>
  </section>
  
</section>