<section class="responseOptions">
  <div class="containerMenu">
    <nav>
      <ul class="menu">
        <li>
          <a class="optionMenu" href="/about">
            <span>{{'acerca' | translate}}</span>
          </a>
        </li>
        <li>
          <a class="optionMenu" href="/projects">
            <span>{{'proyectos' | translate}}</span>
          </a>
        </li>
     <!--    comming son blog -->
       <!--  <li>
          <a class="optionMenu" href="/academy">
            <span>{{'academia' | translate}}</span>
          </a>
        </li> -->
        <li>
          <a class="download" href="">{{'descargarCV' | translate}}</a>
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</section>